body {
    margin:0;
    display:grid;
    grid-template-columns: 1fr 7fr;
    column-gap:0px;
    height:100vh;
    background: rgb(33, 146, 140);
}



#book-cards{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap:10px;

    
}

.book-card{
    height:155px;
    margin: 30px;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    background: bisque;

}
textarea{
    width:50%;
    resize:none;
}

#new{
    width:80px;
}
#formbar {
    padding-left:10px;
    border-right: solid;
    height:100%;
    background: rgb(141, 141, 141);
    
}
#forms {
    top: 5px;
    position:sticky;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#radioset {
    height:50px;
    width: 50px;
}

#pages-area{
    width:20%;
    height:20px;
}

#pages-area.unfilled{
    width:20.1%;
    height:22px;
    border: red 1px solid;
}
    
.unfilled{
    border: red 1px solid;
}
    
.unfilled-radio{
    color:red;
}


.removal-button, .mark-read-button{
    display:block;
    float:right;
    margin:5px;

}

