

@font-face {
    font-family: 'Noto Sans Symbols 2';
    src: url('fonts/NotoSansSymbols2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    margin:0;
    display:grid;
    grid-template-columns: 1fr 7fr;
    column-gap:0px;
    height:100vh; 
    /* background: rgb(53, 53, 53); */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Noto Sans Symbols 2'; 

    /* background-image: url("images/free-squared-paper-vector.jpg"); */
}


#counters{
    position: absolute;
    top:85vh;

}
#card-background{
    background: #f8d14c;
}

#info{
    font-size:17px;
    margin-top:3px;
}

#spacer{
    margin-top:10px;
    height:15vh;
    width:10px;
}


#description{

    opacity:0;
}

#info:hover + #description{
    opacity:1;
    /* visibility: visible; */
    pointer-events: none;
    text-align:justify;
    padding:20px;
    margin-right:10px;
    display:block;
    background: white;
    border-radius: 10px;
    color:#1a6180;
}

a {
    color:white;
}

#links{
    font-size:14px;
    margin-top:0;
    margin-bottom:14px;
}

#book-cards{
    /* margin: 30px 30px 30px 30px; */
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
    row-gap: 30px;
    column-gap:40px;
}

.book-card{
    /* height:160px;*/
    margin: 20px;
    /* border: black 1px solid;*/
    border-radius: 10px; 
    text-align: center;
    background: white;
    color:#1a6180;
    animation: slide-up 0.4s ease;
    transition: all 0.2s ease;

}

.book-card.disappearing {
    transform: translateY(20px);
    opacity:0;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @keyframes slide-down {
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
    0% {
        opacity: 1;
        transform: translateY(0);
    }
} */

#book-icon{
    width:4vw;
    min-width: 55px;
    margin:0;
}

h1{
    display: flex;
    margin-bottom:0;
    align-items:center;
    font-family:bitter, sans-serif;
    font-size:calc(13px + 1vw);
    /* font-size:1.65vw; */

 
}

#new{
    width:80px;
    margin-top:20px;
    padding:3px;
    background:white;
    border: none;
    border-radius:21px;;
    color:#1a6180;
}

select{
    margin-top:5px;
    padding:3px;
    background:white;
    border: none;
    border-radius:21px;;
    color:#1a6180;
    outline: none;

    -moz-appearance: none; 
    /* check if this avoids the ugly arrow in firefox */
    text-indent: 1px;
    text-overflow: '';
}
#formbar {
    padding-left:10px;
    padding-right:5px;

    /* border-right: solid; */
    height:100%;
    /* background: rgb(141, 141, 141); */
    background: #2c9fd1;
    color:white;
}
#forms {
    top: 5px;
    position:sticky;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border:none;
  border-bottom: black 1px dotted ;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  border:none;
  border-bottom: white 1px dotted ;
}

#radioset {
    height:50px;
    width: 50px;
}

.area {
    border-bottom: white 1px dotted ;
    /* background:rgb(150, 143, 126); */
    background: #2c9fd1;
    outline: none;
    color: white;
    margin-top:7px;
}
input[type=text]{
    height:18px;
    overflow: hidden;
    width:60%;
    resize:none;
    border:none;
    border-bottom: white 1px dotted ;

}

.placeholder{
    margin-top:7px;
    position:absolute;
    left:0;
    transition: all 0.5s;
    font-size:18px;
   
    pointer-events: none;  /* stops from selecting the text in the input fields */

}

input:focus+.placeholder,
input:valid+.placeholder{
    position:absolute;
    left:0;
    transform: scale(0.9) translateY(-19px);

}

#sorting{
    margin-top:10px;
}

#pages-area{
    width:40%;
    height:20px;
}

#pages-area.unfilled{
    /* width:28.1%; */
    height:22px;
    border: red 1px solid;
}
    
.unfilled{
    border: red 1px solid;
}
    
.unfilled-radio{
    color:red;
}

.mark-read-button, .removal-button {
    display:block;
    float:right;
    margin:5px;
    background: none;
    border: none;
    outline: none;
    color:#1a6180;

}
.mark-read-button{
    font-size:small;
    outline: none;
    transition: all 0.3s ease-in;

    /* żeby transition nie dotyczyło borderu */
}

.removal-button{
    font-size:medium;
    transition: all 0.1s;

    
}

.mark-read-button:hover{
    transform: translateX(-3px);
    /* text-shadow: 1px 1px 0px 2px black; */
    color:rgb(90, 90, 90);
    /* border: 1px solid black;
    border-radius: 20%; */
}
.removal-button:hover {
    transform: rotate(180deg);
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;

}