body {
    margin:0;
    display:grid;
    grid-template-columns: 1fr 7fr;
    column-gap:0px;
    height:100vh; 
    /* background: rgb(53, 53, 53); */
    
    /* background-image: url("images/free-squared-paper-vector.jpg"); */
}

#card-background{
    background: #f8d14c;
}


#book-cards{
    /* margin: 30px 30px 30px 30px; */
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 80px;
    column-gap:80px;
}

.book-card{
    /* height:160px;*/
    margin: 10px;
    /* border: black 1px solid;*/
    border-radius: 10px; 
    text-align: center;
    background: white;
    color:#1a6180;


}


#new{
    width:80px;
    padding:3px;
    background:white;
    border: none;
    border-radius:21px;;
    color:#1a6180;
}
#formbar {
    padding-left:10px;
    /* border-right: solid; */
    height:100%;
    /* background: rgb(141, 141, 141); */
    background: #2c9fd1;
    color:white;
}
#forms {
    top: 5px;
    position:sticky;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border:none;
  border-bottom: black 1px dotted ;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  border:none;
  border-bottom: white 1px dotted ;
}

#radioset {
    height:50px;
    width: 50px;
}

.area {
    border-bottom: white 1px dotted ;
    /* background:rgb(150, 143, 126); */
    background: #2c9fd1;
    outline: none;
    color: white;
}
textarea{
    height:18px;
    overflow: hidden;
    width:60%;
    resize:none;
    border:none;

}

#pages-area{
    width:20%;
    height:20px;
}

#pages-area.unfilled{
    width:20.1%;
    height:22px;
    border: red 1px solid;
}
    
.unfilled{
    border: red 1px solid;
}
    
.unfilled-radio{
    color:red;
}

.mark-read-button, .removal-button {
    display:block;
    float:right;
    margin:5px;
    background: none;
    border: none;
    outline: none;
    color:#1a6180;

}
.mark-read-button{
    font-size:small;
    outline: none;
    transition: all 0.3s ease-in;

    /* żeby transition nie dotyczyło borderu */
}

.removal-button{
    font-size:medium;
    transition: all 0.1s;

    
}

.mark-read-button:hover{
    transform: translateX(-3px);
    /* text-shadow: 1px 1px 0px 2px black; */
    color:rgb(90, 90, 90);
    /* border: 1px solid black;
    border-radius: 20%; */
}
.removal-button:hover {
    transform: rotate(180deg);
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;

}